version: '3'

services:
  proxy:
    image: diazdiego/nginx:latest
    container_name: nginx
    entrypoint: dockerize -wait tcp://node:3000 -timeout 40s nginx
    command: -g "daemon off;"
    networks:
      - node-network
    volumes:
      - ./nginx/node.conf:/etc/nginx/conf.d/node.conf
    tty: true
    ports:
      - 8080:80
    depends_on:
      - app

  app:
    image: diazdiego/node:latest
    container_name: node
    entrypoint: dockerize -wait tcp://db:3306 -timeout 20s  node # Inicia o dockerize como entrypoint temporário, depois chama o entrypoint oficial
    command: index.js
    networks:
      - node-network
    volumes:
      - ./node:/usr/src/app
    tty: true
    depends_on: # esta seção serve para dizer que o container do node não pode subir antes do container do mysql ele define uma ordem. Porém ele só verifica se o container está em execução e não que o serviço está ativo.
      - db
    stop_grace_period: 30s

  db:
    image: mysql:5.7 
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes: 
      - ./mysql:/var/lib/mysql
    environment: 
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root 
    networks:
      - node-network


networks:
  node-network:
    driver: bridge